<br>

<div class="input-group">
    <span class="input-group-text"># Control</span>
    <input type="text" class="form-control" name="term" placeholder="Search..." [(ngModel)]="term">
  </div>

  <br>
  <br>

<div class="col-md-4" *ngFor="let user of users | filter:term">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col"># Control</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.control }}</td>
            <a [routerLink]="['/users/update', user.id]" type="button" style="color: green;" class="btn btn-success">Actualizar</a>
            <button type="button" style="color: red;" class="btn btn-danger" (click)="deleteUser(user.id)">Eliminar</button>
        </tr>
        </tbody>
    </table>
</div>